@import url(color-changeble-768px.css) (max-width: 768px);


* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

h1, h2 {
    text-align: center;
}

header > h1 {
    margin-top: 0;
    padding: 0 50px;
}

main {
    margin: 0 20px;
}

video, audio {
    width: 100%;
}

p {
    margin: 10px;
    text-indent: 1em;
    text-align: justify;
}

mark {
    font-weight: bold;
    color: tomato;
    background-color: inherit;
}

.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.columns > * {
    border: 1px solid black;
    width: 30%;
}

.columns > *:nth-child(2) {
    flex: 1 0;
}


.menu__list {
    list-style: none;
    padding-left: 0;
    
    display: flex;
    justify-content: center;
    gap: 50px;
}

.menu__item {
}

.menu__link {
    font-size: 1.5em;
    color: tomato;
}

.burger {
    display: none;

    position: fixed;
    top: 0px;
    right: 0px;

    background: transparent;
    border: none;
}

.burger__content {
    font-size: 5em;
}

.burger__content:where(.content_open, .content_close) {
    display: none;
}


.galery {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

.galery > * {
    width: 24%;
    min-width: 190px;
}

.galery figure {
    margin: 0;
}

.galery img {
    width: 100%;
}


@media (max-width: 650px) {
    .columns > * {
        width: 100%;
    }

    .burger {
        display: block;
    }

    .menu[data-state="opened"] .menu__list {
        display: flex;
        flex-direction: column;
        gap: 10px;

        position: fixed;
        top: 70px;
        right: 5px;
        z-index: 1;

        border: 1px solid black;
        padding: 20px;
        background-color: #ebebeb;
    }

    .menu[data-state="closed"] .menu__list {
        display: none;
    }

    .menu[data-state="opened"] .burger__content.content_close {
        display: inline;
    }

    .menu[data-state="closed"] .burger__content.content_open {
        display: inline;
    }
}

@media (max-width: 1280px) {
    .galery > * {
        width: 100%;
    }
}
